<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>学生画像系统</title>
    <!-- 引入css -->
    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{css/bootstrap-responsive.min.css}" />
    <link rel="stylesheet" th:href="@{css/matrix-style.css}" />
    <link rel="stylesheet" th:href="@{css/matrix-media.css}" />
    <!-- 引入js -->
    <script type="text/javascript" th:src="@{js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{js/jquery.ui.custom.js}"></script>
    <script type="text/javascript" th:src="@{js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{js/matrix.js}"></script>
    <script type="text/javascript" th:src="@{js/select2.min.js}"></script>
    <script type="text/javascript" th:src="@{js/echarts.min.js}"></script>
</head>

<body>
<!--Header-part-->
<div id="header">
    <h1><a href="dashboard.html">首页</a></h1>
</div>
<!--close-Header-part-->

<!--top-Header-menu-->
<div id="user-nav" class="navbar navbar-inverse">
    <ul class="nav">
        <li class="dropdown" id="profile-messages">
            <a title="" href="#">
                <i class="icon icon-user"></i>
                <span class="text" th:text="'欢迎，' + ${studentInfo.getBfName()}">欢迎，xxx</span>
            </a>
        </li>
        <li class="">
            <a title="" href="login">
                <i class="icon icon-share-alt"></i>
                <span class="text">退出</span>
            </a>
        </li>
    </ul>
</div>
<!--close-top-Header-menu-->

<!--start-top-serch-->
<div id="search">
    <input type="text" placeholder="输入搜索内容..." />
    <button type="submit" class="tip-bottom" title="Search"><i class="icon-search icon-white"></i></button>
</div>
<!--close-top-serch-->

<!--sidebar-menu-->
<div id="sidebar"><a href="#" class="visible-phone"><i class="icon icon-home"></i> 控制台</a>
    <ul>
        <li><a href="/sutoIndex"><i class="icon icon-home"></i> <span>首页</span></a> </li>

        <li> <a href="/stoCharts"><i class="icon icon-eye-open"></i> <span>个人画像</span></a> </li>

        <li class="submenu">
            <a href="#"><i class="icon icon-th-list"></i> <span>工具</span> </a>
            <ul>
                <li class="active"><a href="#">成绩预测</a></li>
                <li><a href="/stoChoice">七选三参考</a></li>
                <li><a href="/stoProfile">学生群像</a></li>
                <li><a href="/stoPianke">偏科生辅导</a></li>
                <li><a href="/stoSubsidies">贫困生补助</a></li>
                <li><a href="/stoXuefeng">学风分析报告</a></li>
            </ul>
        </li>
    </ul>
</div>
<!--sidebar-menu-->

<!--main-container-part-->
<div id="content">
    <!--breadcrumbs-->
    <div id="content-header">
        <div id="breadcrumb">
            <a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i>首页</a>
            <a href="#" class="current">工具-成绩预测</a>
        </div>
        <h1>成绩预测</h1>
    </div>
    <div class="container-fluid">
        <hr>

        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title"> <span class="icon"> <i class="icon-book"></i> </span>
                        <h5>预测结果</h5>
                    </div>
                    <div style="width: auto;height:600px;">
                        <div id="ans" style="width: auto;height:50px;text-align: center">
                            <h3>总评T-score预测：<span id="predic"></span></h3>
                        </div>
                        <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
                        <div id="yuce" style="width: auto;height:400px;"></div>

                        <div style="text-align: center">
                            <button id="yuwen" class="btn btn-primary btn-large" onclick="showScore(1)">语文</button>
                            <button class="btn btn-primary btn-large" onclick="showScore(2)">数学</button>
                            <button class="btn btn-primary btn-large" onclick="showScore(3)">英语</button>
                        </div>
                        <br>
                        <div style="text-align: center">
                            <button class="btn btn-info btn-large" onclick="showScore(4)">物理</button>
                            <button class="btn btn-info btn-large" onclick="showScore(5)">化学</button>
                            <button class="btn btn-info btn-large" onclick="showScore(6)">生物</button>
                            <button class="btn btn-info btn-large" onclick="showScore(7)">地理</button>
                            <button class="btn btn-info btn-large" onclick="showScore(8)">历史</button>
                            <button class="btn btn-info btn-large" onclick="showScore(17)">政治</button>
                            <button class="btn btn-info btn-large" onclick="showScore(59)">技术</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" th:inline="javascript">
    setTimeout(function() {
        // IE
        if(document.all) {
            document.getElementById("yuwen").click();
        }
        // 其它浏览器
        else {
            var e = document.createEvent("MouseEvents");
            e.initEvent("click", true, true);
            document.getElementById("yuwen").dispatchEvent(e);
        }
    }, 0);
    var score = [[${score}]];
    var tip = [[${tip}]];
    var count = [[${count}]];
    var yuceChart = echarts.init(document.getElementById("yuce"));
    function showScore(subId){
        var sub;
        switch (subId) {
            case 1:
                sub = "语文";break;
            case 2:
                sub = "数学";break;
            case 3:
                sub = "英语";break;
            case 4:
                sub = "物理";break;
            case 5:
                sub = "化学";break;
            case 6:
                sub = "生物";break;
            case 7:
                sub = "地理";break;
            case 8:
                sub = "历史";break;
            case 17:
                sub = "政治";break;
            case 59:
                sub = "技术";break;
        }
        var pre = [[${prediction}]];
        document.getElementById("predic").innerText = ""+pre[subId];
        var sco = new Array();
        var ti = new Array();
        for(var i = 0; i < count[subId]; i++){
            sco[i] = score[i][subId];
            ti[i] = tip[i][subId];
        }
        yuceChart.setOption(
            {
                title:{
                    text: "历史成绩 - " + sub
                },
                tooltip: {
                    trigger: 'axis'
                },
                legend: {
                    data: ['T-score']
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                xAxis: {
                    type: 'category',
                    boundaryGap: false,
                    data: ti
                },
                yAxis: {
                    type: 'value'
                },
                series: [
                    {
                        name: 'T-score',
                        type: 'line',
                        stack: '总量',
                        data: sco
                    }

                ]
            }
        );
    }
    window.onresize = function() {
        yuceChart.resize();
    };
</script>

</body>

</html>